<% include header %>

<section class="instagram">
  <% afbeeldingen.forEach(function(afbeelding){ %>
    <figure>
      <a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen"><img class="afbeelding" src="<%- afbeelding.media %>" alt="alt text" ></a>
    </figure>
  <% }); %>

<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant1">
        <div id="heart">
        </div>
        <h2 class="rotate">
            titel1
        </h2>
        
    </div>
</a> 
<% }); %>

    
<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant2">
        <div id="cross">
        </div>
        <h3 class="rotate">
            titel2
        </h3>
    </div>
</a>
<% }); %>
    
<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant3">
        <div id="square">
        </div>
        <h2 class="rotate">
            titel3
        </h2>
    </div>
</a>
<% }); %>
    
<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant4">
        <div id="circle">
        </div>
        <h3 class="rotate">
            titel4
        </h3>
    </div>
</a>
<% }); %>
    
<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant5">
        <div id="triangle-up">
        </div>
        <h2 class="rotate">
            titel5
        </h2>
    </div>
</a>
<% }); %>   

<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant6">
        <div id="hexagon">
        </div>
        <h3 class="rotate">
            titel6
        </h3>
    </div>
</a>
<% }); %>    

<% afbeeldingen.forEach(function(afbeelding){ %>    
<a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=depraeterejeroen">
    <div class="vierkant7">
        <div id="diamond">
        </div>
        <h2 class="rotate">
            titel7
        </h2>
    </div>
</a>
<% }); %>    

    <div class="verloop1">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop2">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop3">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop4">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop5">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop6">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
    <div class="verloop7">
        <div class="figuren">
            
            <div id="square2">
            </div>
            <div id="cross2">
            </div>
            <div id="circle2">
            </div>
            <div id="triangle-up2">
            </div>
        </div>
    </div>
    
</section>

<% include footer %>
